snippet himg "Hugo image html" b
{{ $${1:name} := resources.Get "/img/serabi.png" }}
{{ $${1:name}min := $${1:name}.Fit "600x400" }}
<a href="{{ $${1:name}.RelPermalink }}">
  <img class=" " src="{{ $${1:name}min.RelPermalink }}" alt=""/>
</a>

snippet hmenu "hugo menu" b
{{ range.Site.Menus.${1:name}.Sort.ByWeight }}
${2:content}
{{ end }}

snippet class.*hai "Description" w
ini zss
