snippet rfc "react function" b
export default function ${1:Home}() {
  return (
	<${2:tag}>
	${3:content}
	</${2:tag}>
  )
}

 ${1:Home}

snippet alink "link for nextjs" b
<Link href="${1:Link}"><a>${2:text}</a></Link>

snippet ilink "import link/next" b
import Link from 'next/link'
